@model WebAssignmentMVC.Models.Person.ViewModels.PersonViewModel

@if (Model != null)
            {
<table class="contact" width="500px">
    <tr>
        <th>ID Number:</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>First Name:</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Telephone:</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>@Model.Cities</td>
    </tr>
    <tr>
        <th>Actions</th>
        <td>
            <a class="btn btn-info" asp-action="Delete" asp-controller="Person" asp-route-id="@Model.Id">Delete</a>
        </td>
    </tr>
</table>
}
else
            {

<p>------</p>
            }

