@model Person

<tr>
    <td>@Model.Id</td>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Phone</td>
    <td>@Model.Country.Cname</td>
    <td>@Model.CtyId</td>
    <td>

    </td>
</tr>
