@model Person
@{
    ViewData["Title"] = "Persons - Search for Information";
}

<h3>Search for Person Information</h3>

<div class="contact">
 <form asp-action="FindPerson" method="post">
    <label>Select Person</label>
    @*<input name="Id" type="number" id="inputId" min="0" />*@
    <select id="Id" name="Id" class="select">
        @foreach (Person item in ViewBag.Person)
            {
                <option value="@item.Id">@item.FirstName, @item.LastName</option>
            }
    </select>
    <div class="form-group">
        @*<input type="submit" value="Search" class="btn btn-primary" />*@
        @*<input type="button" title="Find" value="Search"*@ 
               @*onclick="location.href='@Url.Action("FindPerson", "Person", new { id = Model.Id})'" />*@
        <button onclick="findPersonId('@Url.Action("FindPerson", "Person"), new {id=@Model.Id})', 'inputId')" class="button">Search</button>
    </div>
 </form>
   <div class="partialView" mode="Model">

   </div>
</div>  



